    * {
        margin: 0;
        padding: 0;
    }
    .sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    }
    .nav{
        width: 100%;
        background-color:rgb(79, 79, 79);
        color:black;
        display: flex;
        align-items: center;
    }
    .logo{
        flex:1;
        align-items: center;
    }
    #logoimg{
        margin:5px;
        margin-left: 40px;
    }
    .ab{
        text-align:right;
        font-size:16px;
        margin-right:30px;
        color:rgb(255, 255, 255);
        text-decoration: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #herobanner{
        filter:brightness(60%) blur(2px);
    }  
    .container {
        display: flex;
        background-color: DodgerBlue;
        margin:20px 80px;
    }

    .container div {
        background-color: #f1f1f1;
        flex:1;
        margin: 10px;
        padding: 20px;
    }
    .container-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: dodgerblue;
        padding: 10px;
        margin:10px 10px;
        gap:3px;
    }
    .container-grid div {
        background-color: #f1f1f1;
        border: 1px solid black;
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }

    